# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Model Checkpoints
src/checkpoints/*.pth

# Generated Output Images
src/outputs/**/*.png

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/